<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">{{vm.data.title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" 
              aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto" ng-repeat="link in vm.data.links">

          <li class="nav-item" ng-if="link.url !== undefined">
            <a class="nav-link" href="{{link.url}}">{{link.name}}</a>
          </li>

          <li class="nav-item dropdown" ng-if="link.sublinks !== undefined">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{link.name}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" placeholder="Search" type="text" />
        </form>
      </div>
    </nav>